.demand-item {
  width: 259px;
  height: 800px;
  background-color: #f2f4f6;
  border-radius: 5px;
}

.section-title {
  padding: 10px;
}

.small-card {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
}

.demand-title {
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
}

.card-box{
  overflow-y: auto;
  height: 758px;
}

.small-card {
  width: calc(100% - 10px);
  margin: 10px auto;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}